<div class="content">
  <div class="options" [ngClass]="{'show': show}">
    <div class="welcome">
      Hello Luke
    </div>
    <div class="logout">
      Logout
    </div>
  </div>
  <div class="cafe">
    <div class="framework">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" />
    </div>
    <div class="title">
      <h2>Le Caf&eacute;</h2>
    </div>
    <div class="app-view">
      <!-- <app-form (onLogin)="login($event)" *ngIf="!loggedIn"></app-form> -->
      <!-- <app-users *ngIf="!loggedIn"></app-users> -->
      <app-dashboard></app-dashboard>
    </div>
  </div>
  <footer>
    <p class="footer">
      Built with Angular2 and Firebase.
    </p>
  </footer>
</div>
